<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::section})}">

<section>

    <div class="container mt-4">

        <h2 class="mb-4">Add New Flight</h2>

        <form th:action="@{/admin/flights/add}" method="post">

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label class="form-label">Flight Number</label>
                    <input type="text" class="form-control" name="flightNumber" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Airline</label>
                    <input type="text" class="form-control" name="airline" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Source</label>
                    <input type="text" class="form-control" name="source" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Destination</label>
                    <input type="text" class="form-control" name="destination" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Departure Time</label>
                    <input type="datetime-local" class="form-control" name="departureTime" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Arrival Time</label>
                    <input type="datetime-local" class="form-control" name="arrivalTime" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control" name="price" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">Available Seats</label>
                    <input type="number" class="form-control" name="availableSeats" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="form-label">total Seats</label>
                    <input type="number" class="form-control" name="totalSeats" required>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Add Flight</button>
            <a th:href="@{/admin/flights}" class="btn btn-secondary">Cancel</a>

        </form>

    </div>

</section>

</html>